body{
    background-image:url( https://www.mokuge.com/uploads/userup/505/1555502307.jpg );
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.add{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.title h1{
    float:center;
}
.do{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
